@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: #FAF9F6;
}
.main-div{
    /* width:1400px; */
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #332b29;
}

.text-div{
    /* margin-left: 100px; */
    font-size: 3rem;
    font-weight: 700;
}
.photo-div img {
    margin-left: 200px;
    width: 13.5cm;  
    height: 13.5cm; 
    border-radius: 50%;  
    object-fit: cover; /* Ensures the image covers the entire circle area without distortion */
}

.buttons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    font-family:"Cabin", sans-serif; 
    color:#332b29;
    margin-bottom: 20px;
}
.btn {
    border-style: solid;
    border-width: 2px; /* Set the border width explicitly */
    width: 110px;
    background-color: white;
    font-size: medium;
    font-weight: 700; /* Set the font weight explicitly */
    padding: 1rem 1.67em;  
    text-align: center; /* Center text inside the button */
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Use the same color as the parent */
    border-color: #332b29; /* Add border color */
    display: inline-block; /* Make the anchor behave like a block-level element */
    background-color: #ffd876;
}

.btn:nth-child(2){
    width: 170px;
}
.btn:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}
 
.btn:nth-child(1):hover {
    background-color: #ffd876;
    box-shadow: 8px 8px #332b29;
}
 
.btn:nth-child(2):hover {
    background-color: #8bdfdd;
    box-shadow: 8px 8px #332b29;
}

/* Responsive Design */

@media (max-width: 1396px) {
    .photo-div img {
        width: 12.5cm;  
        height: 12.5cm; 
        border-radius: 50%;  
    }
}
@media (max-width: 1263px) {
    /* .main-div{
        width:1200px;
    }  */
    .text-div{
        font-size: 2.8rem;
    }
    .photo-div img {
        width: 11cm;  
        height: 11cm;  
    }
}
@media (max-width: 1117px) {
    .main-div{
        margin-left: 20px;
        margin-right: 20px;
    }
    .text-div{
        font-size: 2.5rem;
    }
    .photo-div img {
        width: 10cm;  
        height: 10cm; 
    } 
}

@media (max-width: 800px) {
    .main-div{
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 50px;
        width:auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .text-div{
        font-size: 2.3rem;
        margin-left: 0px;
    }
    .photo-div img {
        width: 10cm;  
        height: 10cm; 
        margin: 0%;
    }
     
}

