@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

nav {
  margin-top: 40px;  
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #ffd876;
    text-shadow: 5px 5px 0 #45496a, -1px -1px 0 #45496a, 1px -1px 0 #45496a,
      -1px 1px 0 #45496a, 1px 1px 0 #45496a;  
    cursor: pointer;
}

.options{
    padding: 10px 7px 10px 0px;
    border-style: solid;
    box-shadow: 8px 8px #332b29;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0 22px;
}
nav ul li a {
  text-decoration: none;
  color: #332b29;
  font-weight: 700;
  font-size: 1.2rem;
}
.options ul li a {
  color: #332b29; 
  transition: color 0.3s ease, transform 0.3s ease;
}

.options ul li:nth-child(1) a:hover { color: #e7baad; }
.options ul li:nth-child(2) a:hover { color: #8ed993; }
.options ul li:nth-child(3) a:hover { color: #7ed0cf; }
.options ul li:nth-child(4) a:hover { color: #f8ab41; }
.options ul li:nth-child(5) a:hover { color: #e7baad; }

html {
  scroll-behavior: smooth;
}

.icon{
  display: none;
}
/* Responsive Design */
@media (max-width: 1263px) {
  .title {
    font-size: 45px;
  }
  .options{
    padding: 8px 5px 8px 0px; 
    box-shadow: 6px 6px #332b29; 
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }
  .options{
    padding: 7px 4px 7px 0px; 
    box-shadow: 5px 5px #332b29; 
    margin-left: 100px;
  }
  nav ul li {
    margin: 0 13px;
  }
  nav ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 1017px) {
  .title {
    font-size: 33px;
  }
  .options{
    padding: 5px 2px 5px 5px; 
    box-shadow: 4px 4px #332b29; 
    margin-left: 100px;
  }
  nav ul li {
    margin: 0 10px;
  }

}

@media (max-width: 905px) {
  .icon {
    display: block;
    cursor: pointer;
  }
  .title {
    font-size: 27px;
  }
  .options{
    padding: none;
    box-shadow: none;
    margin-left: none;
    border-style: none;

    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in-out; 
    overflow: hidden;
    margin-top: 60px;
  }
  .options.active {
    width: 150px;
  }
  .options ul {
    display: flex;
    flex-direction: column;
  }

  .options ul li {
    margin-right: unset;
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 20px;
  }
}