@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.skills-parent{
    margin-top: 60px;
    margin-bottom: 100px;
    
}
.skills{
    width: 1320px;
    height: 539px; 
    margin: 0 auto;
    border-style: solid;
    color: #332b29;
    background-color: #ffd876;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Cabin", sans-serif;
}
.stack-title{
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

.stacks {
    color: #FFFFFF;
    background-color: #332b29;
    width: 130px;
    height: 65px;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center;
    font-size: 1.1em;
    margin: 10px;    
}

.lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 elements per row */
    grid-gap: 10px; /* Space between grid items */
    justify-items: center; /* Center the grid items */
    width: 100%; 
    max-width: 1000px; /* Add max-width to fit content nicely */
    margin: 0 auto; 
    cursor: pointer;
}
.stacks:hover{
    /* padding: 20px; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.skills{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}