@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.about-me-parent{
    margin-top: 20px;
    margin-bottom: 60px;
}
.about-me{
    width: 1320px;
    height: 539px; 
    margin: 0 auto;
    border-style: solid;
    color: #332b29;
    background-color: #ffd8cc;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Cabin", sans-serif;
}
.about-me-title{
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}
.about-me-write-up{
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width: 1390px) {
    .about-me{
        width: 1250px;
        height: 439px;
    }
    .about-me-title{
        text-align: center;
        font-size: 3.2em;
    }
    .about-me-write-up{
        text-align: center;
        font-size: 1.8em;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media (max-width: 1270px) {
    .about-me{
        width: 1100px;
        height: 400px;
    }
    .about-me-title{
        text-align: center;
        font-size: 3.2em;
    }
    .about-me-write-up{
        text-align: center;
        font-size: 1.8em;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media (max-width: 1180px) {
    .about-me{
        width: 1000px;
        height: 300px;
    }
    .about-me-title{
        text-align: center;
        font-size: 3em;
    }
    .about-me-write-up{
        text-align: center;
        font-size: 1.2em;
        margin-left: 20px;
        margin-right: 20px;
    }   
}

@media (max-width: 1000px) {
    .about-me{
        width: 900px;
        height: 250px;
    }
    .about-me-title{
        text-align: center;
        font-size: 2.7em;
    }
    .about-me-write-up{
        text-align: center;
        font-size: 1.1em;
        margin-left: 20px;
        margin-right: 20px;
    }  
}

@media (max-width: 900px) {
    .about-me{
        width: 800px;
        height: 300px;
    }
    .about-me-title{
        text-align: center;
        font-size: 2.5em;
    }
    .about-me-write-up{
        text-align: center;
        font-size: 1em;
        margin-left: 20px;
        margin-right: 20px;
    }  
}
@media (max-width: 800px) {
    .about-me{
        width: 700px;
        height: 300px;
    }
}

@media (max-width: 717px) {
    .about-me-parent{
        margin-left: 10px;
        margin-right: 10px;
    }
    .about-me{
        width: auto;
        height: auto;
    }
}