@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.exp-parent{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 1320px; /* Use max-width instead of width */
    height: 539px;
    margin: 0 auto;    /* Center the parent */
    border-style: solid;
    color: #332b29;
    /* background-color: #c6bbd0; */
    background-color: #8bdfdd;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Cabin", sans-serif;
    display: flex;                 /* Use Flexbox */
    flex-direction: column;        /* Stack children vertically */
    justify-content: center;        /* Center vertically */
    align-items: center;    
    color: #332b29;
}

.exp-section{
    display: flex;               
    justify-content: space-around;     
    align-items: center;        
    gap: 210px;  
}

.exp-title{
    margin-left: 70px;
    font-size: 2.2em;
    font-weight: bold;
}

.exp-write-up{
    margin-right: 70px;
    color: #332b29;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.44;
}

.exp-write-up h3{
    font-size: 2em;
}

@media (max-width: 1390px) {
    .exp-parent{
        width: 1250px;
        height: 439px;
    }
    .exp-title{
        font-size: 2.1em;
    }
    .exp-write-up{
        font-size: 1.2rem;
    } 
}

@media (max-width: 1270px) {
    .exp-parent{
        width: 1100px;
        height: 400px;
    }
    .exp-title{
        font-size: 2em;
    }
    .exp-write-up{
        font-size: 1rem;
    } 
}

@media (max-width: 1180px) {
    .exp-parent{
        width: 1000px;
        height: 300px;
    }
    .exp-title{
        font-size: 1.8em;
    }
    .exp-write-up{
        font-size: 0.8rem;
    } 
}

@media (max-width: 1000px) {
    .exp-parent{
        width: 900px;
        height: 250px;
    }
    .exp-title{
        font-size: 1.7em;
    }
    .exp-write-up{
        font-size: 0.8rem;
    } 
}

@media (max-width: 900px) {
    .exp-parent{
        width: 800px;
        height: 200px;
    }
    .exp-title{
        font-size: 1.6em;
    }
    .exp-write-up{
        font-size: 0.7rem;
    } 
    .exp-section{        
        gap: 150px;  
    }
}
@media (max-width: 800px) {
    .exp-parent{
        width: 700px;
        height: 300px;
    }
    .exp-title{
        font-size: 1.6em;
    }
    .exp-write-up{
        font-size: 0.7rem;
    } 
}
@media (max-width: 717px) {
    .exp-parent{
        width: auto;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .exp-section{  
        flex-direction: column;      
        align-items: center; 
        gap: 20px;
    }
    .exp-title{
        margin-left: 0px;
        font-size: 1.8em;
    }
    .exp-write-up{
        margin-right: 7px;
        margin-left: 7px;
        font-size: 1em;
    }
    .exp-write-up h3{
        font-size: 1.8em;
    }
}
@media (max-width: 400px) {
    .exp-title{
        font-size: 1.6em;
    }
    .exp-write-up{
        font-size: 0.8em;
    }
    .exp-write-up h3{
        font-size: 1.6em;
    }
}
